.Edit-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.display-container {
  background-color: rebeccapurple;
  color: #ffffff;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.field {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
}
.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  border: 1px solid rgb(84 105 212);
  outline-color: rgb(84 105 212 / 0.5);
}

input {
  font-size: 16px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  border: 1px solid rgb(84 105 212);
  outline-color: rgb(84 105 212 / 0.5);
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.invalidDiv {
  color: red;
  font-size: 0.7rem;
}
.invalidDiv b {
  color: red;
  font-size: 0.7rem;
}
label {
  margin-bottom: 10px;
}

.randomUserBtn {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  background-color: rebeccapurple;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.randomUserBtn:hover {
  transform: scale3d(1.05, 1.05, 0.3);
}
